*
!nvim
!nvim/*
!nvim/**/*
!starship.toml
!.gitignore
!zed
!zed/settings.json
!zed/keymap.json
!wezterm
!zsh
!zsh/*
!fish
!fish/*
!fish/**/*
!tmux
!tmux/*
tmux/plugins/*
!.dotter
!.dotter/*
!ghostty
!ghostty/*
!yazi
!yazi/*
!start.sh
!install.txt
.DS_Store
*.local
local.*
!Brewfile
