*
!nvim
!nvim/*
!nvim/**/*
!starship.toml
!.gitignore
!zed
!zed/settings.json
!zed/keymap.json
!wezterm
!zsh
!zsh/*
!fish
!fish/*
!fish/**/*
!.dotter
!.dotter/*
!ghostty
!ghostty/*
!yazi
!yazi/*
!omniwm
!omniwm/*
!aerospace
!aerospace/*
!zellij
!zellij/*
!zellij/**/*
!start.sh
!install.txt
!Brewfile
.DS_Store
*.local
local.*
tmux/plugins/*
!tmux
!tmux/*
!tmux/tmux.conf.local
