*
!nvim
!nvim/*
!nvim/**/*
!starship.toml
!.gitignore
!zed
!zed/settings.json
!zed/keymap.json
!wezterm
!zsh
!zsh/*
!fish
!fish/*
!fish/**/*
!ghostty
!ghostty/*
!yazi
!yazi/*
!omniwm
!omniwm/*
!aerospace
!aerospace/*
!hammerspoon
!hammerspoon/**/*
!zellij
!zellij/*
!zellij/**/*
!bootstrap.sh
!Brewfile
!scripts/
!scripts/**
!tests/
!tests/**
!AGENTS.md
.DS_Store
*.local
local.*
tmux/plugins/*
!tmux
!tmux/*
!tmux/tmux.conf.local
!mise
!mise/*
